.canvas {
  min-height: 100%;
  overflow: hidden;
}
.content-wrapper {
  margin: 12px;
  border: 1.6px solid #fff;
  border-radius: 6px;
  padding: 4px 12px;
  &:hover {
    border-color: #a1adca55;
  }
  .control {
    pointer-events: none; // 屏蔽鼠标行为，组件不让被点击到
  }
}
.selected {
  border-color: #1677ff89 !important;
}
.locked {
  cursor: not-allowed;
  opacity: 0.7;
}
