.content-wrapper {
  margin-bottom: 12px;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 2px 2px 15px #30357e1f;
  border-radius: 6px;
  padding: 4px 12px;
  &:hover {
    border-color: #a1adca55;
  }
  .control {
    pointer-events: none; // 屏蔽鼠标行为，组件不让被点击到
  }
}
