.header-wrapper {
  background-color: #001529;
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 0;
  .header {
    display: flex;
    margin: 0 24px;
    align-items: baseline;
    h1 {
      font-size: 22px;
      margin-bottom: 0;
      margin-top: -2px;
      color: #f8ffff;
      margin-left: 10px;
      //   line-height: 1;
    }
    .left {
      flex: 1;
    }
    .main {
      flex: 1;
      text-align: center;
    }
    .right {
      flex: 1;
      text-align: right;
    }
  }
}
